
{% extends 'core/base.html' %}
{% load crispy_forms_tags %}



{% block content %}
  
  <link rel="stylesheet" href="style.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <script src="https://js.stripe.com/v3/"></script>


  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form method="POST" class="card-body" >
                <h2>Billing Address</h2>

                {% csrf_token %}
                <!--address-->
                <div class="billing_hideable">
                  <div class="md-form mb-5">
                    <input id="billing_address1" type="text" class="form-control" name="billing_address1" placeholder="1234 Main St">
                    <label for="billing_address1" class="">Address</label>
                  </div>

                  <!--address-2-->
                  <div class="md-form mb-5">
                    <input id="billing_address2" type="text" class="form-control" name="billing_address2" placeholder="Apartment or suite">
                    <label for="billing_address2" class="">Address 2 (optional)</label>
                  </div>

                  <!--Grid row-->
                  <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                      <label for="country">Country</label>
                      {{form.billing_country}}

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6 mb-4">

                      <label for="zip">Zip</label>
                      {{ form.billing_zip }}
                      

                    </div>
                    <!--Grid column-->
                  </div>
                  <!--Grid row-->
                  
                  <div class="custom-control custom-checkbox checked">
                    {{ form.shipping_as_billing }}
                    <label class="" for="same-address">Shipping address is the same as billing address</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    {{ form.set_default_billing }}
                    <label class="" for="save-info">set default</label>
                  </div>
                </div>
                {% if billing_address %}
                <div class="custom-control custom-checkbox">
                  {{ form.use_default_billing }}
                  <label class="" for="save-info">use my default billing address: {{billing_address.street_address|slice:10}}</label>
                </div>
                {% endif %}
              
              <hr>

                <h2>Shipping Address</h2>

              <div class="shipping_hideable">
                {% csrf_token %}
                <!--address-->
                <div class="md-form mb-5">
                  <input id="shipping_address1" type="text" class="form-control" name="shipping_address1" placeholder="1234 Main St" >
                  <label for="shipping_address1" class="">Address</label>
                </div>

                <!--address-2-->
                <div class="md-form mb-5">
                  <input id="shipping_address2" type="text" class="form-control" name="shipping_address2" placeholder="Apartment or suite">
                  <label for="shipping_address2" class="">Address 2 (optional)</label>
                </div>
                

                <!--Grid row-->
                <div class="row">

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 mb-4">

                    <label for="country">Country</label>
                    {{form.shipping_country}}

                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4">

                    <label for="zip">Zip</label>
                    {{ form.shipping_zip }}
                    

                  </div>
                  <!--Grid column-->

                </div>
                <!--Grid row-->
                
                <div class="custom-control custom-checkbox checked">
                  {{ form.set_default_shipping }}
                  <label class="" for="same-address">set default</label>
                </div>
              </div>
              {% if shipping_address %}
                <div class="custom-control custom-checkbox hideable">
                  {{ form.use_default_shipping }}
                  <label class="" for="save-info">use my default shipping address: {{shipping_address.street_address}}</label>
                </div>
              {% endif %}

              

              <hr>
              <h2>Payment options</h2>

              <div class="d-block my-3">
                {{form.payment_option}}
              </div>
                            
              <hr class="mb-4">
              <!--<button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>-->
              <button type="submit" id="checkout-button" class="btn btn-primary btn-lg btn-block">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          {% include "core/cart_snippet.html" %}

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->


  {% endblock %}

  {% block extra_script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    var billing_hideable = $(".billing_hideable")
    var shipping_hideable = $(".shipping_hideable")
    var shipping_as_billing = $('input[name="shipping_as_billing"]')
    var use_default_billing = $('input[name="use_default_billing"]')
    var use_default_shipping = $('input[name="use_default_shipping"]')

    var hideable_checkbox = $('.hideable');

    use_default_billing.change(function(){
      if ($(this).is(':checked')) {
        billing_hideable.hide()
      }
      else {
        billing_hideable.show() 
      }
    })

    use_default_shipping.change(function(){
      if ($(this).is(':checked')) {
        shipping_hideable.hide()
      }
      else {
        shipping_hideable.show() 
      }
    })

    shipping_as_billing.change(function(){
      if ($(this).is(':checked')) {
        shipping_hideable.hide();
        hideable_checkbox.hide();
      }
      else {
        shipping_hideable.show();
        hideable_checkbox.show();
      }
    })



  </script>

  {% endblock extra_script %}

